<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaServlet</servlet-name>
        <servlet-class>controller.CategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>controller.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetorServlet</servlet-name>
        <servlet-class>controller.SetorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetorTipoServlet</servlet-name>
        <servlet-class>controller.SetorTipoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FornecedorServlet</servlet-name>
        <servlet-class>controller.FornecedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoServlet</servlet-name>
        <servlet-class>controller.ProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovimentacaoServlet</servlet-name>
        <servlet-class>controller.MovimentacaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpressaoServlet</servlet-name>
        <servlet-class>controller.ImpressaoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaServlet</servlet-name>
        <url-pattern>/CategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetorServlet</servlet-name>
        <url-pattern>/SetorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetorTipoServlet</servlet-name>
        <url-pattern>/SetorTipoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FornecedorServlet</servlet-name>
        <url-pattern>/FornecedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoServlet</servlet-name>
        <url-pattern>/ProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovimentacaoServlet</servlet-name>
        <url-pattern>/MovimentacaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpressaoServlet</servlet-name>
        <url-pattern>/ImpressaoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>500</error-code>
        <location>/paginas/erro.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/paginas/erro.jsp</location>
    </error-page>
</web-app>
